*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color: rgb(199, 198, 198);
}

.container {
    margin: auto;
    margin-top: 30px;
    color: white;
}

.nota {
    margin-top: 40px !important;
    width: 80%;
    min-width: 300px;
    min-height: 500px;
    padding: 20px;
    margin: auto;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    padding-bottom: 30px;
}

#title {
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tuN{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tg{
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tg::after{
    content: '';
    display: block;
    background-color:green;
    height: 1px;
    width: 100%;
    margin-top: 5px;
}
.textarea {
    padding: 5px;
    
}
.review1 {
    margin-top: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    max-height: 30px;
    padding-top:1px;
    padding-left:5px;
    text-align: left;
    font-size: 16px;
    border: 1px solid white;
    outline: red;
    border-radius: 10px;
}

.review2 {
    margin-top: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    padding-top:5px;
    padding-left:5px;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    border-color: white;
}

.buttonAgregar {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 20px;
    display: flexbox;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    border-color: red;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskStyle {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle .contenido{
    color: black;
    font-size: 16px;;
}

.taskStyle2 {
    background-color: rgb(162, 209, 162);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle2 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle3 {
    background-color: rgb(170, 144, 144);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle3 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle4 {
    background-color: rgb(177, 159, 194);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle4 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle5 {
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle5 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle6 {
    background-color: rgb(192, 157, 157);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle6 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle7 {
    background-color: rgb(192, 158, 191);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle7 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle8 {
    background-color: paleturquoise;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle8 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle9 {
    background-color: rgb(162, 166, 216);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle9 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle10 {
    background-color: rgb(179, 157, 135);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle10 .contenido{
    color: black;
    font-size: 16px;;
}

.buttonTask {
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    text-align: right;
    background-color: red;
    border:solid 1px rgb(7, 1, 1);
    border-radius: 5px;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.contenido {
    font-weight: lighter;
}

.tgId{
    color: rgb(253, 250, 63);
}

.idTj{
    font-size: 12px;
    float: left;
    color: rgb(2, 2, 2);
}