*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color: rgb(199, 198, 198);
}

.container {
    width: 100%;
    height: 1000px;
    margin: auto;
    margin-top: 30px;
}

.nota {
    padding: 10px;
    margin: auto;
    width: 450px;
    background-color: yellow;
    border-radius: 10px;
    padding-bottom: 20px;
}

#title {
    margin-bottom: 20px;
}

#tg{
    margin-bottom: 20px;
}

#tg::after{
    content: '';
    display: block;
    background-color:green;
    height: 1px;
    width: 100%;
    margin-top: 5px;
}
.textarea {
    padding: 5px;
}
.review1 {
    margin-top: 5px;
    max-width: 400px;
    width: 100%;
    max-height: 20px;
    text-align: left;
    padding: 5px;
    font-size: 16px;
    border-color: white;
    border-radius: 10px;
}

.review2 {
    margin-top: 5px;
    max-width: 400px;
    width: 100%;
    height: 100px;
    text-align: left;
    padding: 5px;
    font-size: 16px;
    max-height: 200px;
    border-radius: 10px;
    border-color: white;
}

.buttonAgregar {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 20px;
    display: flexbox;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    border-color: red;
}

.taskStyle {
    background-color: rgb(0, 140, 255);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle2 {
    background-color: rgb(68, 158, 68);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle2 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle3 {
    background-color: rosybrown;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle3 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle4 {
    background-color: rgb(124, 89, 158);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle4 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle5 {
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle5 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle6 {
    background-color: indianred;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle6 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle7 {
    background-color: orchid;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle7 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle8 {
    background-color: paleturquoise;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle8 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle9 {
    background-color: rgb(204, 130, 204);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle9 .contenido{

    color: black;
    font-size: 16px;;
}

.taskStyle10 {
    background-color: peru;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.taskStyle10 .contenido{

    color: black;
    font-size: 16px;;
}

.buttonTask {
    cursor: pointer;
    font-size: 10px;
    padding: 3px;
    text-align: right;
    background-color: white;
    border:solid 1px rebeccapurple;
    color: red;
    border-radius: 5px;
    float: right;
    
}


.contenido {
    font-weight: lighter;
}